<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:contex="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <mvc:annotation-driven/>
    <contex:component-scan base-package="com.xum.sso.controller"/>
<!--    加载配置文件-->
    <contex:property-placeholder location="classpath:conf/resource.properties"/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
<!--    静态资源放行-->
    <mvc:resources mapping="/css/**" location="/css/"/>
    <mvc:resources mapping="/js/**" location="/js/"/>
    <mvc:resources mapping="/images/**" location="/images/"/>



    <!--    使用dobbo引用服务-->
    <dubbo:application name="e3-sso-web"/>
    <dubbo:registry protocol="zookeeper" address="192.168.100.100:2181"/>

<!--        声明要引用的服务接口-->
    <dubbo:reference interface="com.xum.sso.service.RegisterService" id="registerService"/>
    <dubbo:reference interface="com.xum.sso.service.LoginService" id="loginService"/>
    <dubbo:reference interface="com.xum.sso.service.TokenService" id="tokenService"/>
</beans>