<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


    <context:component-scan base-package="com.xum.cart.service"/>

<!--    使用dobbo发布服务-->
<!--    提供方信息-->
    <dubbo:application name="e3-cart"/>
    <dubbo:registry protocol="zookeeper" address="192.168.100.100:2181"/>
<!--    在20881端口暴露服务-->
    <dubbo:protocol name="dubbo" port="20884"/>
<!--    声明要暴露的服务接口-->
    <dubbo:service interface="com.xum.cart.service.CartService" ref="cartServiceImpl" timeout="6000"/>


</beans>