<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xum.search.mapper.ItemMapper">

    <sql id="Base_Column_List">
        a.id,a.title,a.sell_point,a.price,a.image,b.name category_name
    </sql>

    <select id="getItemList" resultType="com.xum.comon.pojo.SearchItem">

        SELECT
        <include refid="Base_Column_List"/>
        from tb_item a
        INNER JOIN tb_item_cat b
        on a.cid = b.id
        WHERE a.status=1;
    </select>
    <select id="getSearchItemById" resultType="com.xum.comon.pojo.SearchItem">
        select
        <include refid="Base_Column_List"/>
        from tb_item a
        INNER JOIN tb_item_cat b
        on a.cid = b.id
        WHERE a.status=1 and a.id=#{id}
    </select>
</mapper>